body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    background-color: white;
    

}

button:hover{
    transition-duration: 1S;
    color: white;
    background-color: rgb(91, 91, 187);
    
}

.container{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}